<!doctype html>
<html>
    <head>
        <title>CasparCG Weather Map Template</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="js/monkeecreate-jquery.simpleWeather-0d95e82/jquery.simpleWeather.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="js/skycons.js"></script>
        <script src="js/casparcg.js"></script>
        
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body style="background-color:white;">
        <h2 class="center forecast-header">Weather Map</h2>
<section>
<div id="canvasesDiv" style="position: absolute; top: 0; right: 1000px;">
<!-- style="position:relative; width:400px; height:300px" -->
<canvas id="map"
style="z-index: 2;
position:absolute;
left:0px;
top:0px;
" height="1080px" width="900">
This text is displayed if your browser does not support HTML5 Canvas.
</canvas>
</div>

<script type="text/javascript">
var skycons;

var ctx2;
var map = new Image();

function init() {
map.src ="images/950px-crop-British_Isles_map.svg.png";
mapLayer = document.getElementById("map");
mapCtx = mapLayer.getContext("2d");

// From Color Skycons
  /* Set up a RequestAnimationFrame shim so we can animate efficiently FOR
   * GREAT JUSTICE. */
  var requestInterval, cancelInterval;

  (function() {
    var raf = window.requestAnimationFrame       ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame    ||
              window.oRequestAnimationFrame      ||
              window.msRequestAnimationFrame     ,
        caf = window.cancelAnimationFrame        ||
              window.webkitCancelAnimationFrame  ||
              window.mozCancelAnimationFrame     ||
              window.oCancelAnimationFrame       ||
              window.msCancelAnimationFrame      ;

    if(raf && caf) {
      requestInterval = function(fn, delay) {
        var handle = {value: null};

        function loop() {
          handle.value = raf(loop);
          fn();
        }

        loop();
        return handle;
      };

      cancelInterval = function(handle) {
        caf(handle.value);
      };
    }

    else {
      requestInterval = setInterval;
      cancelInterval = clearInterval;
    }
  }());

var mapRedrawInterval = requestInterval(drawAll, 1000 / 60);

skycons = new Skycons({"monochrome": false});
skycons.play();

var locationData = [
	{'lat': 400, 'long': 100, 'loc': 'Foo Bag'},
	{'lat': 500, 'long': 175, 'loc': ''},
	{'lat': 400, 'long': 300, 'loc': ''},
	{'lat': 500, 'long': 450, 'loc': ''},
	{'lat': 575, 'long': 600, 'loc': ''},
	{'lat': 750, 'long': 700, 'loc': ''},
	{'lat': 475, 'long': 700, 'loc': ''},
	{'lat': 675, 'long': 800, 'loc': ''},
	{'lat': 275, 'long': 475, 'loc': ''},
	{'lat': 500, 'long': 875, 'loc': ''},
]

for (let i = 0; i < locationData.length; i++) {
	// Add the skycon
	locationData[i].canvas = document.createElement("canvas");
	locationData[i].canvas.className  = "skycon";
	//locationData[i].canvas.id = "skycon" + (i + 1);
	locationData[i].canvas.style.left = locationData[i].lat + "px";
	locationData[i].canvas.style.top = locationData[i].long + "px";
	document.getElementById("canvasesDiv").appendChild(locationData[i].canvas);
	skycons.add(locationData[i].canvas, skyconMap[Math.floor(Math.random() * skyconMap.length)]);

	// Add the locator
	locationData[i].div = document.createElement("div");
	locationData[i].div.className  = "locator";
	//locationData[i].div.id = "locator" + (i + 1);
	locationData[i].div.style.left = locationData[i].lat + "px";
	locationData[i].div.style.top = locationData[i].long + "px";
	locationData[i].div.innerHTML = locationData[i].loc;
	document.getElementById("canvasesDiv").appendChild(locationData[i].div);
}
}

function drawAll() {
drawMap();
}

function drawMap() {
mapCtx.drawImage(map, 0, 0);
}

init();
</script>
</section>
        <script>
            if (window.location.hash == "#demo") {
                //update("{}");
            }
        </script>
    </body>
</html>
