<!doctype html>
<html>
    <head>
        <title>CasparCG Weather Map Template</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="js/monkeecreate-jquery.simpleWeather-0d95e82/jquery.simpleWeather.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="js/skycons.js"></script>
        <script src="js/casparcg.js"></script>
        
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body style="background-color:white;">
        <h2 class="center forecast-header">Weather Map</h2>
<section>
<div id="canvasesDiv" style="position: absolute; top: 0; right: 1000px;">
<!-- style="position:relative; width:400px; height:300px" -->
<canvas id="map"
style="z-index: 2;
position:absolute;
left:0px;
top:0px;
" height="1080px" width="900">
This text is displayed if your browser does not support HTML5 Canvas.
</canvas>
<div class="locator" id="locator1" style="left: 400px; top: 200px;">Foo Bag</div>
<canvas class="skycon" id="skycons1" style="left: 400px; top: 100px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons2" style="left: 500px; top: 175px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons3" style="left: 400px; top: 300px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons4" style="left: 500px; top: 450px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons5" style="left: 575px; top: 600px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons6" style="left: 750px; top: 700px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons7" style="left: 475px; top: 700px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons8" style="left: 675px; top: 800px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons9" style="left: 275px; top: 475px;">No HTML5 Canvas</canvas>
<canvas class="skycon" id="skycons10" style="left: 500px; top: 875px;">No HTML5 Canvas</canvas>
</div>

<script type="text/javascript">
var skycons;

var ctx2;
var map = new Image();

function init() {
map.src ="images/950px-crop-British_Isles_map.svg.png";
mapLayer = document.getElementById("map");
mapCtx = mapLayer.getContext("2d");

// From Color Skycons
  /* Set up a RequestAnimationFrame shim so we can animate efficiently FOR
   * GREAT JUSTICE. */
  var requestInterval, cancelInterval;

  (function() {
    var raf = window.requestAnimationFrame       ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame    ||
              window.oRequestAnimationFrame      ||
              window.msRequestAnimationFrame     ,
        caf = window.cancelAnimationFrame        ||
              window.webkitCancelAnimationFrame  ||
              window.mozCancelAnimationFrame     ||
              window.oCancelAnimationFrame       ||
              window.msCancelAnimationFrame      ;

    if(raf && caf) {
      requestInterval = function(fn, delay) {
        var handle = {value: null};

        function loop() {
          handle.value = raf(loop);
          fn();
        }

        loop();
        return handle;
      };

      cancelInterval = function(handle) {
        caf(handle.value);
      };
    }

    else {
      requestInterval = setInterval;
      cancelInterval = clearInterval;
    }
  }());

var mapRedrawInterval = requestInterval(drawAll, 1000 / 60);

skycons = new Skycons({"monochrome": false});
skycons.play();

skycons.set(document.getElementById("skycons1"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons2"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons3"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons4"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons5"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons6"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons7"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons8"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons9"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
skycons.set(document.getElementById("skycons10"), skyconMap[Math.floor(Math.random() * skyconMap.length)]);
}

function drawAll() {
drawMap();
}

function drawMap() {
mapCtx.drawImage(map, 0, 0);
}

init();
</script>
</section>
        <script>
            if (window.location.hash == "#demo") {
                //update("{}");
            }
        </script>
    </body>
</html>
